{% extends 'base.html' %}

{% block content %}
    <a href="{% url 'poop_form' 0%}">Add poop</a>
    <a href="{% url 'food_form' 0%}">Add food</a>
    <div class="row">
    <div class="col s6">
        {% for poop in poop_list %}
            <div class="card">
                <card-content>
                    <img src="{{poop.image.url}}" alt="">
                    <p>{{poop.type}}</p>
                    <p>{{poop.color}}</p>
                    <p>{{poop.pass_date}}</p>
                    <p>{{poop.note}}</p>
                    <a href="{% url 'poop_form' poop.id%}">Edit</a>
                    <a href="{% url 'poop_delete' poop.id%}">Delete</a>
                </card-content>
            </div>
        {% endfor %}
    </div>
        <div class="col s6">
        {% for food in food_list %}
            <div class="card">
                <card-content>
                    <img src="{{food.image.url}}" alt="">
                    <p>{{food.name}}</p>
                    <p>{{food.note}}</p>
                    <p>{{food.ate_date}}</p>
                    <a href="{% url 'food_form' food.id%}">Edit</a>
                    <a href="{% url 'food_delete' food.id%}">Delete</a>
                </card-content>
            </div>
        {% endfor %}
    </div>
    </div>



{% endblock content %}